a.link:hover, a.link:active {
    text-decoration: underline;
}

a.link:visited, a.link:link {
    color: orange;
  }

body {
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    margin: 0;
    text-align: center;
    text-align: left;
    padding: 0;
    font-size: 1.1em;

}
strong { font-weight: bold; }

header {
    background: black;
    color: orange;
    padding: 20px;
    
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
    margin-right: 20px;
}
div {
    margin: auto;

}
section {
    background: white;
    color: black;
    line-height: 1.8;
    /* font-size: 1.25em; */
}

p.index {
    margin-right: 50%;
}

section.normal-body {
    text-align: center;
    text-align: left;
    margin: 0% 10%;
}

a.footnote:visited, a.footnote:link {
    color: orange;
  }
span.blockspam {
    display: none;
  }

footer {
    background-color: black;
    color: orange;
    padding: 20px;
    display: flex;
    padding: 20px;
}

table, th, td {
    text-align: center;
    text-align: left;
    border:1px solid black;
    margin: 0% 10%;
  }

  table.latin, th.latin, td.latin {
    border: none;
  }

img {
    width: 100%;
}

img.main {
  display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 00px;
width: 15%;
}

img.link {
  display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 00px;
width: 15%;
}

img.poem {
  display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 00px;
width: 60%;
}

div.profile {
    width: 100%;
    max-width: 150px;
    object-fit: cover;
    vertical-align: middle;
}

div.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 3.5rem;
}

div.intro {
    flex: 1;
}

section.images {
    text-align: left;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
  }

  .center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
  }

  .clouds {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
  }


@media only screen and (max-width: 1000px) {
  
    section.images {
        text-align: center;
        display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    section.normal-body {
        text-align: center;
        text-align: left;
        margin: 5%;
    }


    p.index {
        margin-right: 0%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 70%;
      }

      .center2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
      }

      .clouds {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
      }

      img.poem {
        display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 00px;
      width: 90%;
      }

      img.main {
        display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 00px;
      width: 30%;
      }

} 

@media only screen and (max-width: 409px) {

    div.profile {
        width: 100%;
        max-width: 200px;
        object-fit: cover;
        vertical-align: middle;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 75%;
        width: 90%;
      }

      .clouds {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 120%;
      }

      img.main {
        display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 00px;
      width: 90%;
      }

}